*{
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  margin-bottom: 10%;
}

#js-search-term[type="text"] {
  padding: 4px;
  border-radius: 4px;
}

#goBtn:hover {
  cursor: pointer;
}button, input[type="text"] {
  padding: 5px;
}

#goBtn{
  border-radius: 3px;
  padding: 4px;
  font-weight: 500;
}

label{
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.errorMsg-js{
  color: red;
}

.hidden{
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}